@{
    Layout = "_AdminLayout";
}
@model List<Library.Web.Entities.Borrow>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">读者编号</th>
        <th scope="col">书籍编号</th>
        <th scope="col">状态</th>
        <th scope="col">借阅时间</th>
        <th scope="col">应还时间</th>
        <th scope="col">归还时间</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var i in Model.Select((value, index) => new {value, index}))
    {
        <tr>
            <th scope="row">@((i.index + 1).ToString())</th>
            <td>@i.value.Reader.Id.ToString()</td>
            <td>@i.value.Book.Code</td>
            @if (i.value.IsReturned)
            {
                <td>已归还</td>
            }
            else
            {
                <td>未归还</td>
            }
            <td>@i.value.DateOut.ToLocalTime().ToShortDateString() @i.value.DateOut.ToLocalTime().ToShortTimeString()</td>
            <td>@i.value.DateRetPlan.ToLocalTime().ToShortDateString() @i.value.DateRetPlan.ToLocalTime().ToShortTimeString()</td>
            <td>@i.value.DateRetAct?.ToLocalTime().ToShortDateString() @i.value.DateRetAct?.ToLocalTime().ToShortTimeString()</td>
        </tr>
    }
    </tbody>
</table>
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" asp-route-id="@(ViewBag.page - 1)">前一页</a>
    </li>
    <li class="page-item">
        <a class="page-link" asp-route-id="@(ViewBag.page + 1)">后一页</a>
    </li>
</ul>